@using SAModels
@model ShoppingCart
<partial name="~/Views/Shared/_ErrorToast.cshtml" />
<div class="container bg-light border p-3">
    <div class="container align-items-center" style="max-width: 70%">
        <h4 class="d-flex justify-content-between mb-3">
            <span class="text-primary">Your Cart</span>
        </h4>
        <ul class="list-group mb-3">
            @if (Model.Items != null && Model.Items.Count > 0) {
                @foreach (LineItem item in Model.Items) {
                    <li class="list-group-item d-flex justify-content-between align-items-center row">
                        <a href="@Url.Action("RemoveItem", "Cart", new { itemId=item.Id } )" type="submit" class="btn btn-default col-1" aria-label="Close"><i class="bi bi-trash"></i></a>
                        <h6 class="my-0 col">@item.Product.Name</h6>
                        <span class="text col-1">@string.Format("x {0}", item.Quantity)</span>
                        <span class="text-muted col-2">@string.Format("${0:N2}", item.Product.Price)</span>
                    </li>
                }
            } else {
                <li class="list-group-item d-flex align-items-center justify-content-center lh-sm row" style="text-align: center">
                    <h4 class="col">Your cart is empty</h4>
                </li>
            }
            <li class="list-group-item d-flex row justify-content-between align-items-center">
                    <div class="container col"></div>
                    <span class="text col-1">Total</span>
                    <strong class="text-muted col-2">@string.Format("${0:N2}", Model.TotalAmount)</strong>
            </li>
        </ul>
        <div class=" d-flex justify-content-between">
            <a href="@Url.Action("RemoveAll", "Cart" )" class="btn btn-danger m-1"> <i class="bi bi-trash"></i> Clear Cart</a>
            <a href="@Url.Action("Order", "Cart" )" class="btn btn-primary m-1"> <i class="bi bi-cart3 mx-auto mb-1"></i> Complete Purchase</a>
        </div>
    </div>
</div>
