@using SAModels
@model IEnumerable<CustomerViewModel>

<partial name="~/Views/Shared/_ErrorToast.cshtml" />
<div class="text-center">
    <h1 class="display-6">Customer Page</h1>
    <div class="container">
        <div class="container flex-column" style="padding-top: 30px">
            <h3 style="text-align: left">Search Customers</h3>
            <form asp-action="Index" class=" container justify-content-center" style="padding-left: 0">
                <div class="input-group mb-3" style="width: 50%">
                    <input name="query" type="text" class="form-control" placeholder="Search customers by name" aria-label="search-customers">
                    <button class="btn btn-outline-dark" type="submit" id="button-search-storefront">Search</button>
                </div>
            </form>
        </div>
    </div>
    @if (Model != null) {
        <div class="container ">
            <table class="table" style="text-align:left">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Id) </th>
                        <th>@Html.DisplayNameFor(model => model.Name) </th>
                        <th>@Html.DisplayNameFor(model => model.Email) </th>
                        <th>@Html.DisplayNameFor(model => model.Phone) </th>
                        <th>@Html.DisplayNameFor(model => model.Address) </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any()) {
                        @foreach (var customer in Model) {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => customer.Id)</td>
                                <td>@Html.DisplayFor(modelItem => customer.Name)</td>
                                <td>@Html.DisplayFor(modelItem => customer.Email)</td>
                                <td>@Html.DisplayFor(modelItem => customer.Phone)</td>
                                <td>@Html.DisplayFor(modelItem => customer.Address)</td>
                            </tr>
                        }
                    } else {
                        <tr><td colspan="100"> No records found </td></tr>
                    }

                </tbody>
            </table>
        </div>
    }
</div>

